@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-ExtraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niveau Grotesk";
  src: url("/fonts/NiveauGrotesk-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::selection {
  background: #3087F8;
  color: #FFFFFF;
}
